.btn {
display: inline-block;
border: 5px solid rgb(255, 255, 255);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-radius: 0px;
transition: all 0.15s ease;
-webkit-transition: all 0.15s ease;
cursor: pointer;
vertical-align: middle;
margin: 0px;
position: relative;
color: rgb(255, 255, 255);
text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
background-image: none;
box-shadow: none;
font-size:16px;
padding:4px 10px;
font-family: "Microsoft YaHei";
}

.btn-primary {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}


.btn-primary, .btn-primary:focus {
    background-color: #428bca !important;
    border-color: #428bca
}

.btn-primary:hover, .open .btn-primary.dropdown-toggle {
    background-color: #1b6aaa !important;
    border-color: #428bca
}

.btn-primary.no-border:hover {
    border-color: #1b6aaa
}

.btn-primary.no-hover:hover {
    background-color: #428bca !important
}

.btn-primary.active {
    background-color: #2f7bba !important;
    border-color: #27689d
}

.btn-primary.no-border.active {
    background-color: #2b72ae !important;
    border-color: #2b72ae
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #428bca !important;
    border-color: #428bca
}

.btn-pink, .btn-pink:focus {
    background-color: #d6487e !important;
    border-color: #d6487e
}

.btn-pink:hover, .open .btn-pink.dropdown-toggle {
    background-color: #b73766 !important;
    border-color: #d6487e
}

.btn-pink.no-border:hover {
    border-color: #b73766
}

.btn-pink.no-hover:hover {
    background-color: #d6487e !important
}

.btn-pink.active {
    background-color: #c74072 !important;
    border-color: #af3462
}

.btn-pink.no-border.active {
    background-color: #be386a !important;
    border-color: #be386a
}

.btn-pink.disabled, .btn-pink[disabled], fieldset[disabled] .btn-pink, .btn-pink.disabled:hover, .btn-pink[disabled]:hover, fieldset[disabled] .btn-pink:hover, .btn-pink.disabled:focus, .btn-pink[disabled]:focus, fieldset[disabled] .btn-pink:focus, .btn-pink.disabled:active, .btn-pink[disabled]:active, fieldset[disabled] .btn-pink:active, .btn-pink.disabled.active, .btn-pink[disabled].active, fieldset[disabled] .btn-pink.active {
    background-color: #d6487e !important;
    border-color: #d6487e
}