/**
   base CSS by fangll update 2010.12.02   
*/
/* gray 
html{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);height:100%;width:100%;}
*/
html {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding: 0px;
}

body,table,form,ul {
	margin: 0px;
	padding: 0px;
	line-height: normal;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	color: #000000;
}

body {
	margin: 0px auto;
	height: 100%;
	width: 100%;
	background: #fff;
	overflow: auto;
}

body.ovh {
	overflow: hidden;
}

body.main {
	background: url(../images/platform/welcome.jpg) no-repeat bottom right
		fixed;
}

h1,h2,h3 {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
}

div {
	font-size: 14px;
	font-family: Verdana, sans-serif;
	text-align: left;
}

ul {
	list-style: none;
}

hr {
	border: 1px solid #ccc;
	size: 1px;
}

img {
	border: 0px;
	cursor: pointer;
	vertical-align: middle;
}

a:link,a:visited {
	/*color: #1b7e7b; */
	text-decoration: none;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}

a:hover,a:active {
	color: #f00;
}

a.u:link,a.u:visited {
	color: #0044DD;
	text-decoration: underline;
	font-size: 13px;
	font-family: Verdana, sans-serif;
}

a.u:hover,a.u:active {
	color: #FF5500;
	text-decoration: underline;
	font-size: 13px;
	font-family: Verdana, sans-serif;
}

a.cur:link,a.cur:visited {
	color: red;
}  /*#10428f*/
a.cur:hover,a.cur:active {
	color: red;
}

#platFormHeader {
	height: 58px;
	width: 100%;
	background: #dfeaf6 url(../images/platform/bg.jpg) 0px 0px repeat-x;
	padding: 0px;
	overflow: hidden;
}

.banner {
	width: 100%;
	height: 58px;
	
}

/*sysTool*/
#sysTool {
	position: absolute;
	top: 3px;
	right: 3px;
	color: #006699
}

#sysTool a {
	color: #006699;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}

#sysTool a:link {
	color: #006699;
	text-decoration: none;
}

#sysTool a:visited {
	color: #006699;
	text-decoration: none;
}

#sysTool a:hover {
	color: #FFF;
	text-decoration: none;
}

#sysTool a:active {
	color: #FFF;
	text-decoration: none;
}

#userInfo {
	position: absolute;
	top: 33px;
	right: 3px;
	color: #fff;
	padding-left: 15px;
	background: url(../images/icon/user.png) no-repeat;
}

/*menuTree*/
#platFormMenuTree {
	background: #fff url(../images/platform/foot-inner-bg.gif) no-repeat
		bottom -300px fixed;
	overflow: auto
}

#platFormMenuTree ul {
	text-align: left;
	overflow: hidden;
}

#platFormMenuTree ul li {
	cursor: pointer;
	width: 100%;
	color: #10428f;
	display: block;
	line-height: 23px;
}

#platFormMenuTree ul li a {
	color: #006699;
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: Verdana, sans-serif;
}

#platFormMenuTree ul li a:link {
	color: #006699;
	text-decoration: none;
}

#platFormMenuTree ul li a:visited {
	color: #006699;
	text-decoration: none;
}

#platFormMenuTree ul li a:hover {
	color: #FF3300;
	text-decoration: none;
}

#platFormMenuTree ul li a:active {
	color: #FF3300;
	text-decoration: none;
}

/*title path caption*/
.xpath {
	height: 23px;
	width: 100%;
	background: #F5FBFF;
	/*url(../images/platform/bg.jpg) 0px -210px repeat-x;*/
	color: #000;
	font-size: 12px;
	font-family: ;
	padding: 2px 0px 0px 5px;
	border-bottom: 1px dotted #d5e1e8;
	border-top: 1px solid #7ea2b4;
	text-align: left;
}

.path,.title,.caption {
	padding: 2px 10px;
	margin-top: 5px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #056994;
	background: #e8f3fb url(../images/platform/title_3.gif) no-repeat top
		right;
	/* background:url(../images/platform/bg.jpg) 0px -158 repeat-x; tbg.gif*/
	width: 100%;
	text-align: left;
	height: 21px;
	overflow: hidden;
}

.path,.title {
	background: #e8f3fb url(../images/platform/title_3.gif) no-repeat top
		right;
}

.content {
	overflow: auto;
	margin: 0px;
}

.op {
	text-align: center;
	padding: 2px;
}

.hidden,.hide {
	display: none;
}

.show {
	display: block;
}

/*button*/
.btn-normal,.btn,.btn-save,.btn-reset,.btn-s,.btn-m,.btn-l,.btn-w,.btn-r
	{
	border: 0px;
	font-size: 9pt;
	font-family: Verdana, sans-serif;
	color: #333;
	cursor: pointer;
	padding: 0px;
	width: 62px;
	height: 22px;
	background: transparent url(../images/platform/bims.gif) no-repeat 0px
		-371px;
	vertical-align: middle;
}

.btn-t {
	border: 0px;
	background: transparent;
}

.btn-s {
	width: 25px;
	background-position: -62px -371px;
}

.btn-m {
	width: 37px;
	background-position: -0px -393px;
}

.btn-l {
	width: 92px;
	background-position: -87px -371px;
}

.btn-w {
	width: 140px;
	background-position: -39px -393px;
}

.btn-r {
	width: 179px;
	background-position: -0px -416px;
}

/*input select areatext*/
.edit,.dict,.text-dict,.idate,.itime,.idatetime,.SelectExt_input {
	border: 1px solid #b8d0d6;
	color: black;
	width: 170px;
	background-color: #fff
}

.SelectExt_input {
	width: 153px;
}

.text-dict {
	border-right: 0;
	width: 153px;
}

.dict {
	background: #fff url(../images/icon/reply.gif) right no-repeat;
}

.idate,.itime,.idatetime {
	background: #fff url(../images/icon/dateselect.gif) right no-repeat;
}

.ps {
	border: 1px solid #f0f0f0;
	width: 35%;
}

.tx {
	border: 0px;
	width: 100%;
}

.r {
	background: #f0f0f0;
	color: #999
}

.must {
	background: #F3F8FF url(../images/icon/must.gif) no-repeat center left;
}  /*??*/
.ed {
	width: 100px;
	border: 0;
	border-bottom: 0px solid #d5e1e8;
	background: transparent;
}

.text {
	border: 0px;
	background: transparent;
}

.dno {
	text-align: right;
}

.xno {
	background: transparent;
	border: 0px;
	width: 180px;
}

.alt,.warn,.err {
	background: url(../images/icon/e.gif) no-repeat center left;
	padding-left: 15px;
	font-size: 12px;
	font-weight: normal;
	color: blue;
}

.warn {
	color: gold;
}

.err {
	color: red;
}

.w40 {
	width: 40px;
}

.w60 {
	width: 60px;
}

.w80 {
	width: 80px;
}

.w100 {
	width: 100px;
}

.w150 {
	width: 150px;
}

.w200 {
	width: 200px;
}

.w300 {
	width: 300px;
}

.w500 {
	width: 500px;
}

.wf {
	width: 99%;
}

.wp7 {
	width: 70%;
}

.h60 {
	height: 50px
}

.h100 {
	height: 100px
}

.h200 {
	height: 200px
}

.h500 {
	height: 500px
}

/*validate css*/
label.error {
	background: url(../images/icon/e.gif) no-repeat scroll 0 center transparent;
	color: red;
	padding-left: 15px;
	font-size: 12px;
	font-weight: normal;
    float: left;
    margin-left: 5px;
    display: block;
    padding-top: 0;
    line-height: 22px;
}

label.ok {
	background: url(../images/icon/p.gif) no-repeat;
	color: green;
	padding-left: 15px;
	font-size: 12px;
	font-weight: normal;
}

/*icon*/
.icon {
	background: url(../images/icon/icon.gif) no-repeat;
	width: 16px;
	height: 16px;
}

.icon-add {
	background-position: 0px -89px;
}

.icon-edit {
	background-position: 0px -71px;
}

.icon-del {
	background-position: 0px -53px;
}

.icon-warn {
	background-position: 0px -35px;
}

.icon-ref {
	background-position: 0px -17px;
}

.icon-view {
	background-position: 0px 1px;
}

.icon-attach {
	background: url(../images/icon/icon-attach.gif) no-repeat;
	width: 16px;
	height: 16px;
}

.icon-search {
	background: url(../images/icon/reply.gif) no-repeat;
	width: 16px;
	height: 16px;
}

.icon-user {
	background-position: 0px -252px;
}

.icon-dict {
	border: 1px solid #b8d0d6;
	border-left: 0;
	height: 20px;
	width: 18px;
	cursor: pointer;
}

.icon-plus,.icon-minu,.line-1,.line-2 {
	cursor: pointer;
	width: 14px;
	height: 14px;
	background: url(portal/images/default.gif) no-repeat 0px -2px;
}

.icon-minu {
	background-position: 0px -21px;
}

.line-1 {
	background-position: 0px -224px;
	cursor: default;
}

.line-2 {
	background-position: 0px -249px;
	cursor: default;
}

/*search-box*/
.search-box,.list-box {
	border: 1px solid #d5e1e8;
	background: #F5FBFF;
	padding: 2px;
	width: 100%;
}

.search-box {
	margin-bottom: 2px;
}

.search-box .label {
	text-align: left;
	white-space: nowrap;
	padding-left: 8px;
}

.search-box .content {
	
}

;
/*search-box*/
.clearfix {
	text-align: center;
}

.tool-toggle,.collapsed-tool-toggle {
	display: block;
	width: 685px;
	height: 20px;
	margin: 0 auto;
	background: url(../images/platform/toggle_bg.gif) no-repeat 0 -80px;
	text-indent: -999px;
	outline: none;
}

.tool-toggle:hover {
	background-position: 0 -120px;
}

.collapsed-tool-toggle {
	background-position: 0 0;
}

.collapsed-tool-toggle:hover {
	background-position: 0 -40px;
}

/*log-box*/
table.log-box {
	width: 100%;
	margin-bottom: 3px;
	border-bottom: 0px solid #d5e1e8;
}

table.log-box td.title {
	font-weight: normal;
	padding: 2px 5px;
	width: 100%;
	height: 24px;
	background: #F5FBFF url(portal/images/default.gif) repeat-x 0px -249px;
}

.log-title {
	font-weight: normal;
	padding: 2px 5px;
	width: 100%;
	height: 23px;
	background: #F5FBFF url(portal/images/default.gif) repeat-x 0px -249px;
}

.log-content {
	width: 100%;
	padding: 2px;
}

.counter {
	font-size: 11px;
	color: red;
}

/*sort-list box*/
.list-box ul {
	margin: 0px;
	padding: 0px;
}

.list-box ul li {
	width: 100%;
	background: #F5FBFF;
	margin: 0px;
	border-bottom: 1px dotted #d5e1e8;
	padding: 1px;
	font-size: 13px;
	display: block;
	height: 16px;
	line-height: 18px;
	white-space: nowrap;
}

.list-box ul li.title {
	cursor: default;
	height: 22px;
	background: #d5e1e8;
	font-size: 14px;
	font-weight: normal;
	color: #000080;
}

.list-box ul li.highlight {
	border-bottom: 1px dotted red;
	width: 98%;
}

.list-box ul li span {
	float: left;
	display: block;
	overflow: hidden;
	padding-left: 10px;
}

/*table list*/
table.list {
	padding: 2px;
	width: 100%;
	border: 0px;
	background: #Dfeffc;
	border-top: 1px solid #a6c9e2;
	border-right: 1px solid #a6c9e2;
}

table.list thead {
	border: 1px solid #c5dbec;
	background: #dfeffc
		url(ui-lightness/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50%
		repeat-x;
}

table.list thead th {
	text-align: left;
	padding: 3px;
	border-left: 1px solid #a6c9e2;
	border-bottom: 1px solid #a6c9e2;
	color: #1d5987
}

table.list tbody {
	background: #fff;
	height: 10px;
}

table.list tbody td {
	padding: 2px;
	border-bottom: 1px solid #c5dbec;
	border-left: 1px solid #c5dbec;
}

table.list tbody td.rownum {
	width: 33px;
	background: #dfeffc
		url(ui-lightness/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50%
		repeat-x;
}

/*report list*/
table.report {
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 2px;
	width: 100%;
	border: 0px;
	background: #Dfeffc;
	border-top: 1px solid #a6c9e2;
	border-right: 1px solid #a6c9e2;
}

table.report tr {
	background: white;
}

table.report td {
	padding: 2px;
	border-bottom: 1px solid #c5dbec;
	border-left: 1px solid #c5dbec;
}

table.report tr.head {
	color: #056994;
	font-weight: bold;
	background: #dfeffc
		url(ui-lightness/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50%
		repeat-x;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sortable li {
	border: 0px;
}

.even {
	background-color: white;
}

.odd {
	
}

pre {
	margin: 0px;
}

div.alt-box {
	background: #feeff3;
	border: 1px dotted #ffd9e3;
	color: #000;
	margin-top: 10px;
	padding: 8px;
	filter: alpha(opacity = 90);
	width: 100%;
}

span.active {
	color: red;
	font-size: 12px;
	font-weight: bold;
}

span.info {
	color: red;
	font-size: 12px;
	font-weight: normal;
}

/*table input detail box*/
table.xbox {
	background: #fff;
	text-align: left;
	width: 100%;
	border: 1px solid #d5e1e8;
	margin-bottom: 3px;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 2px;
}

table.detail {
	background: #d5e1e8;
	border: 0px;
	margin-bottom: 3px;
}

table.xbox td.label {
	background: #F3F8FF;
	height: 20px;
	width: 95px;
	padding: 2px 3px;
	font-size: 13px;
	color: black;
	padding-left: 8px;
	white-space: nowrap;
}

table.xbox td.must {
	background: #F3F8FF url(../images/icon/must.gif) no-repeat center left;
}

table.xbox td.content {
	background: #fff;
	color: #000;
	padding: 2px 3px;
	font-size: 12px;
	/*background:#fafafa;*/
}

table.xbox td {
	background: #fff;
	color: #666666;
	font-size: 12px;
	border-left: 1px dotted #d5e1e8;
	border-bottom: 1px dotted #d5e1e8;
}

/*table bd*/
table.bd {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table.bd tr td.dtree {
	width: 220px;
	height: 100%;
	border-right: 1px dotted #7ea2b4;
}

table.bd tr td.dmain {
	width: auto;
	text-align: center;
}

/*attach-box*/
.attach-box {
	border: 0;
	width: auto;
}

.attach-box ul,.attach-box ul.list {
	margin: 0px;
	padding: 0px;
}

.attach-box ul li,.attach-box ul.list li.label {
	height: 20px;
	overflow: hidden;
	border: 0;
	float: left;
	display: block;
	white-space: nowrap;
	padding-left: 18px;
	background: url(../images/icon/icon-attach.gif) no-repeat center left;
}

.attach-box ul.list {
	width: 100%;
	border-bottom: 0px dotted red;
}

.attach-box ul.list li.label {
	font-size: 13px;
	color: red;
	background: url();
	padding-left: 0;
}

/*override jqgrid a */
.less-filter,.more-filter {
	padding-right: 10px;
	background: url(../images/platform/down-up.png) no-repeat right 0;
}

.less-filter {
	display: none;
	background-position: right -15px;
}

div.op-bar {
	background: #f0f0f0;
	border: 0px;
	padding: 2px 0px;
	border-top: 1px solid #ccc;
	height: 18px;
	width: 100%;
	text-align: center;
}

fieldset {
	border: 0px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	font-size: 12px;
}

legend {
	font-weight: bold;
	font-size: 12px;
}

table.datagrid {
	width: 100%;
	border-spacing: 0px;
}

table.datagrid tr {
	
}

table.datagrid thead tr td,table.datagrid thead tr th,table.datagrid th
	{
	white-space: normal;
	font-weight: normal;
	color: #666;
	height: 25px;
	padding: 3px;
	border: 1px solid #ccc;
	border-left: 0px;
	border-top: 0px;
	background:
		url(../js/jquery-easyui/themes/default/images/datagrid_header_bg.gif)
		repeat-x left bottom;
}

table.datagrid tr td {
	white-space: nowrap;
	padding: 2px;
	border: 1px dotted #ccc;
	border-left: 0px;
	border-top: 0px;
}

table.searchbox td.label {
	background: #f4f4f4;
	height: 20px;
	padding: 2px 3px;
	font-size: 13px;
	color: #7a7a7a;
	padding-left: 8px;
	white-space: nowrap;
	font-weight: normal;
}

table.searchbox td.must {
	background: #f0f0f0 url(../images/icon/must.gif) no-repeat center left;
}

table.searchbox td.content {
	background: #fff;
	color: #000;
	padding: 2px 3px;
	font-size: 12px;
	/*background:#fafafa;*/
}

table.searchbox td {
	background: #fff;
	color: #666666;
	font-size: 12px;
	white-space: nowrap;
	padding: 0px;
	border: 1px dotted #868686;
	border-left: 0px;
	border-top: 0px;
}

.ui-icon-priority {
	background: #000 url("../images/reportgrid/priority-none.png") no-repeat;
	width: 17px;
	height: 17px;
}

.ui-icon-priority-1 {
	background: #f0f0f0 url("../images/reportgrid/priority-hight.png")
		no-repeat;
	width: 17px;
	height: 17px;
}

.ui-icon-priority-2 {
	background: #f0f0f0 url("../images/reportgrid/priority-medium.png")
		no-repeat;
	width: 17px;
	height: 17px;
}

.ui-icon-priority-3 {
	background: #f0f0f0 url("../images/reportgrid/priority-low.png")
		no-repeat;
	width: 17px;
	height: 17px;
}

/*
 * by huangkb update 2011/08/26
 */
.tableBox {
	margin-top: -1px;
}

a.tableMax,a.tableMax:link,a.tableMax:visited {
	display: block;
	position: absolute;
	right: -5px;
	top: 2px;
	background: url(../images/icon/zones.png) no-repeat;
	width: 16px;
	height: 16px;
	text-indent: -99px;
	z-index: 99;
	overflow: hidden;
}

a.tableMax:hover,a.tableMax:active {
	background-position: 0 -16px;
}

/*
 * by huangkb update 2011/08/26
 */
.pathNav,.pathNav ul li {
	background: url(../images/common.png) no-repeat;
}

.pathNav {
	height: 19px;
	background-repeat: repeat-x;
	background-position: 0 -403px;
	border: 1px solid #E5E5E5;
	border-radius: 3px 3px 0 0;
	padding: 0 6px;
	margin: 0;
}

.pathNav ul li {
	float: left;
	background-position: 100% -428px;
	margin-right: 8px;
	padding-right: 17px;
}

.pathNav ul li a,.pathNav ul li a:link,.pathNav ul li a:visited,.pathNav ul li a:active,.pathNav ul li a:hover
	{
	display: block;
	_display: inline;
	height: 19px;
	line-height: 21px;
}

.pathNav ul li.Selected a,.pathNav ul li.Selected a:link,.pathNav ul li.Selected a:visited,.pathNav ul li.Selected a:active,.pathNav ul li.Selected a:hover
	{
	color: #999;
	cursor: default;
}

.tr_current {
	background: #E5FFD8;
	cursor: default;
}

.titlebg {
	height: 35px;
	width: 100%;
	background: white url(../images/platform/tbg.gif) 0px 0px repeat-x;
	padding: 0px;
	overflow: hidden;
}